* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
}
body {
    height: 100vh;
    background-image: linear-gradient( rgba(216, 220, 96, 0.5), rgba(216, 220, 96, 0.5)),
    url("https://images.unsplash.com/photo-1472289065668-ce650ac443d2?q=80&w=2069&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-size: cover;
    background-position: center;
}


.cover-container {
    max-width: vw;
}

.card-body {
    background-color: rgba(247, 247, 252, 0.896);
    border-radius: 1rem;
    padding: 0.2rem;
}

.card-title {
    padding-left: 1rem;
}

.custom-card {
    max-width: 80%; 
    margin: 0 auto; 
    border-radius: 2rem solid #282636;
       
}

.img-fluid {
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
        
}
.btn {
    
    background-color: #1e1932;
}


.btn:hover{
    background-color: #3d384e;
}