body {
    height: 100vh;
    background-image: linear-gradient( rgba(216, 220, 96, 0.5), rgba(216, 220, 96, 0.5)),
    url("https://images.unsplash.com/photo-1472289065668-ce650ac443d2?q=80&w=2069&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-size: cover;
    background-position: center;
}
.cover-container {
    max-width: vw;
}

.back-btn svg {
    height: 2rem;
    width: 3rem;
    fill: black;     
}

.form-label {
    font-size: 1.5rem;
    font-weight: 500;
}

textarea {
    width: 100%;  /* Make textarea full width */
    height: 150px;  /* Set the height */
    resize: vertical;  /* Allow only vertical resizing */
    overflow: auto;  /* Allow overflow if content exceeds */
    white-space: pre-wrap; /* Allow the text to wrap and preserve spaces and line breaks */
}